@model Denim.Models.News
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
<div class="col-md-12">

    <div class="col-md-4">
        <h3> Latest News</h3>
        <table width="300">
            @foreach (var item in @Model.NewsList)
            {
                <tr>
                    <td style="font-size:medium">
                        @Ajax.ActionLink(@item.Title, "Display", "Home", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "result" })
                    </td>
                    <td>
                        <span style="color:red; font-size:medium">@item.Date.ToString("dd/MM/yyyy")</span>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-8">
        <div id="result" style="font-size:medium">

            <h3><span style="color:red">Title :</span>@Model.Title</h3>
            <div>
                <h3><span style="color:red">Discription :</span>@Model.Description</h3>
            </div>
        </div>

    </div>
</div>



