<!DOCTYPE html>
<html lang="en">
<head>
    <title>Denim SACCOS</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="~/assets/css/footers/footer-v1.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="~/assets/css/theme-skins/dark.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <script src="~/Scripts/dncalendar.js"></script>
    <script src="~/Scripts/dncalendar.min.js"></script>
    <link href="~/Content/dncalendar-skin.css" rel="stylesheet" />
 <!-- CSS Theme -->
    <link rel="stylesheet" href="~/assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="~/assets/css/theme-skins/dark.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <script src="~/assets/gallery/jquery.blueimp-gallery.min.js"></script>
    <link href="~/assets/gallery/blueimp-gallery.min.css" rel="stylesheet" />

    <link href="~/assets/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <link href="~/assets/wow/animate.css" rel="stylesheet" />

    <script src="~/assets/wow/wow.min.js"></script>
    <script src="~/assets/uniform/js/jquery.uniform.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/assets/script.js"></script>

</head>
<style type="text/css">
    .main {
        margin: 5;
    }

    .tag {
        margin: 0;
        color: #66bbd4;
        height: auto;
        width: auto;
        float: right;
        font-family: Tahoma;
    }
</style>

<body>
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header" style="margin-top:0px;">
            <div class="container">
                <!-- Logo --><div class="menu" style="margin-left:40px; margin-top:0px;">
                    <center>
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <img src="@Url.Content("~/Images/Denim-saccos 01.png")" />
              </a>
                        <ul class="loginbar pull-right">
                          
                        </ul>
                    </center>
            
        </div>
                @*<div class="topbar" style="margin-top:0%;">
                    <ul class="loginbar pull-right">
                        <li class="hoverSelector">
                            <i class="fa fa-globe"></i>

                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    </ul>
                </div>*@

                <!-- End Logo -->
                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->
            </div><!--/end container-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container" style="margin-top:2%">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="active">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <!-- End Home -->
                        <!-- Pages -->
                        <li>
                            @Html.ActionLink("About Us", "About", "Home")

                        </li>
                        <!-- End Pages -->
                        <!-- Blog -->
                        <li class="dropdown">
                            @Html.ActionLink("Services","null","null")
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Saving Schemes", "Saving", "Home")

                                </li>
                                <li>
                                    @Html.ActionLink("Loan Schemes", "Loan", "Home")

                                </li>
                                <li>
                                    @Html.ActionLink("Remittance Schemes", "Remittance", "Home")

                                </li>

                            </ul>
                        </li>
                        <!-- End Blog -->
                        <!-- Portfolio -->
                        <li>
                           
                            @Html.ActionLink("NoticeBoard", "Display", "Home")

                        </li>
                        <!-- End Portfolio -->
                        <!-- Features -->
                        <li>
                            @Html.ActionLink("Downloads", "Downloads", "Home")

                        </li>
                        <!-- End Features -->
                        <!-- Shortcodes -->
                        <li>
                            @Html.ActionLink("Gallery", "Gallery", "Home")

                        </li>
                        <!-- End Shortcodes -->
                        <!-- Demo Pages -->
                        <li>
                            @Html.ActionLink("Contact Us", "Contact", "Home")
                   </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div> <i class="fa fa-globe"></i>@Html.ActionLink("LOGIN", "login", "Account")</div>


                         <!-- End Demo Pages -->
                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>

        <!--=== End Header ===-->
  <div class="container content-sm">
            @RenderBody()
        </div><!--/container-->
        <!-- End Content Part -->
        <!--=== Footer Version 1 ===-->
        <div class="footer-v1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-4 md-margin-bottom-40">
                            @*<a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>*@
                            <a href="@Url.Action("Index", "Home")" class="logo">
                                <img src="@Url.Content("~/Images/logo1.png")" />
                            </a>
                            <p style="font-size:small">About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                            <p style="font-size:small">Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
                        </div><!--/col-md-3-->

                        <div class="col-md-4 md-margin-bottom-40">
                            <div class="headline"><h2>Services</h2></div>

                            <ul class="list-unstyled link-list">
                                <li>@Html.ActionLink("Saving Schemes", "Saving", "Home")</li>
                                <br />
                                <li>@Html.ActionLink("Loan Schemes", "Loan", "Home")</li>
                                <br />
                                <li>@Html.ActionLink("Remittance Schemes", "Remittance", "Home")</li>

                            </ul>
                        </div><!--/col-md-3-->
                        <!-- End Link List -->
                        <!-- Address -->
                        <div class="col-md-4 map-img md-margin-bottom-40">
                            <div class="headline"><h2>Contact Us</h2></div>
                            <address class="md-margin-bottom-40" style="font-size:medium">
                                डेनिम बचत तथा ऋण सहकारी संस्था लि.<br />
                                बौद्ध ६, काठमाडौ <br />
                                सम्पर्क फोनस् : ०१-४९१०१८३<br />
                            </address>
                            <address>
                                <strong>Support:</strong>   <a href="mailto:Support@example.com">info@denim.com.np</a><br />
                                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                            </address>
                        </div><!--/col-md-3-->
                        <!-- End Address -->
                    </div>
                </div>
            </div><!--/footer-->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                2016 &copy; All Rights Reserved.
                                <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                            </p>
                        </div>
                        <!-- Social Links -->
                        <div class="col-md-6">
                            <ul class="footer-socials list-inline">
                                <li>
                                    <a href="https://www.facebook.com" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                         
                                <li>
                                    <a href="https://twitter.com/HyattTweets" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social Links -->
                    </div>
                </div>
            </div><!--/copyright-->
        </div>
        <!--=== End Footer Version 1 ===-->
    </div>

    <!--/wrapper-->
    <!-- JS Global Compulsory -->
    
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="~/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/parallax-slider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            StyleSwitcher.initStyleSwitcher();
            ParallaxSlider.initParallaxSlider();
        });
    </script>
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title">title</h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
    </div>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from htmlstream.com/preview/unify-v1.9.8/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Mar 2017 07:36:49 GMT -->
</html>
