@model PagedList.IPagedList<Denim.Models.News>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div>
    <table width="500" height="200">
        <h3> Latest News</h3>
        @foreach (var item in Model)
        {           
            <tr>
                <td style="font-size:medium">
                    @Html.ActionLink(@item.Title, "Display", new { id = item.Id })
                   
                </td>
                <td> <span style="color:red">@item.Date.ToString("dd/MM/yyyy")</span></td>

                <td>
                    <span style="color:red">'@item.Description.ToString().Substring(0, (item.Description.Length > 30) ? 30 : item.Description.Length). . . . . . .</span>
                </td>
            </tr>
        }
    </table>
    

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

